
<div align=center>
            <h2 style="align-content: center"><b> Comp Name</b></h2>
        <img src="../../assets/avatar.png"  style="width:200px; height: 200px; border-radius: 50%; border:5px solid black">
        <p>Name : employee</p>
        <p>Designation : Manager</p>
        <p>unique number<input type="text" [(ngModel)]="code"></p>
        <p>IssuedOn:01/08/2019</p>
        <p>gmail@: employee@gmail.com</p>
<img src="../../assets/barcode.png" style="width: 200px; height: 40px;;">
    </div>

