table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 1px solid burlywood;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: pink;
    }
    
    tr:hover{
    background-color: rgb(255, 192, 245);
    }