<p>restab works!</p>
<!DOCTYPE html>
<html>
<head>
​
<style>
table {
  border-spacing: 0;
  width: 100%;
  border: 2px solid red;
}
​
th, td {
  text-align: left;
  padding: 16px;
}
​
tr:nth-child(even) {
  background-color:goldenrod;
}
</style>
</head>
<body>
​
<table id="myTable">
  <tr>
    <th>FName</th>
 <th>Lname</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>
    <th>points</th>/
    <th>points</th>
   
  </tr>
  
  <tr>
      
    <td>sanju</td>
    <td>Shree</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
 
  <tr>
    <td>anju</td>
    <td>Dhanu</td>
    <td>45</td>
    <td>45</td>
    <td>45</td>
    <td>45</td>
    <td>45</td>
  </tr>
 
  <tr>
    <td>sonu</td>
    <td>ranju</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  </table>
​
​
</body>
</html>