<!-- <nav class="navbar navbar-expand-sm bg-light">
​
    Links 
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul> -->
   
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-md
            " style="background-color:pink;text-align: center;height:40px;">Home</div>
            <div class="col-md" style="background-color:black;color:white;text-align: center;height:40px">About</div>
            <div class="col-md" style="background-color:pink;text-align: center;height:40px">Contact</div>
            <div class="col-md" style="background-color:black;color:white;text-align: center;height:40px">Project</div>
          </div> 
      </div>
      <p>
         
          
     Grid columns are created by specifying the number of 12 available columns you wish to span.
          <br>
          Column widths are in percentage, so they are always fluid and sized relative to their parent element
          <br>
          The biggest difference between Bootstrap 3 and Bootstrap 4 is that Bootstrap 4 now uses flexbox..
        </p>