  <!-- <app-website></app-website>    -->
 <!-- <app-multiples></app-multiples> -->
 <!-- <app-empdata></app-empdata> -->
 <!-- <app-homee></app-homee>  -->
 <!-- <app-year2020></app-year2020> -->
 <!-- <app-login></app-login> -->
 <!-- <app-heroes></app-heroes> -->
<!-- <app-additem></app-additem> -->
<!-- <app-signup></app-signup> -->
 <!-- <app-login></app-login>  -->
 <!-- <app-descending></app-descending> -->
 <!-- <app-descorder></app-descorder> -->
<!-- <app-addnew></app-addnew> -->
<!-- <app-loginpage></app-loginpage> -->
<!-- <app-unorder></app-unorder> -->
<!-- <app-states></app-states> -->
<!-- <app-employee></app-employee> -->
<!-- <app-agelimit></app-agelimit> -->
<!-- <app-registartion-form></app-registartion-form> -->
<!-- <app-sidemenu></app-sidemenu>
<app-sidecontactus></app-sidecontactus> -->
<!-- <app-ages></app-ages> -->
<router-outlet></router-outlet>
<!-- <app-name-editor></app-name-editor> -->
<!-- <app-thumbnail></app-thumbnail> -->
<!-- <app-empty></app-empty> -->
 <!-- <app-ui></app-ui>  -->
<!-- <app-topnavibar></app-topnavibar> -->
 <!-- <app-home></app-home>  
<app-loginform></app-loginform>--> 
<!-- <app-sign></app-sign> -->
<!-- <app-login></app-login> -->
<!-- <app-registrationform></app-registrationform> --> 
<!-- <app-calc></app-calc> -->
<!-- <app-user></app-user>
<app-login></app-login> -->


 <!-- <input type="text" [(ngModel)]="name" placeholder="Serach any fields"/>
<table border="1" width="100%">
 <tr>
   <th>No.</th>
   <th>Id</th>
   <th>Email</th>
   <th>Name</th>
 </tr>
 <tr *ngFor="let customer of users | customeNameFilter:name">
   <th scope="row">{{i+1}}</th>
   <td>{{customer.id}}</td>
   <td>{{customer.email}}</td>
   <td>{{customer.name}}</td>
 </tr>
</table>  -->