<!-- <div style="text-align:center"> -->
    <h1>Calculator</h1>  
    <!-- <input type="number"  id="firstNumber"  placeholder="First Number" class="form-control" #first>
    <input type="number"  id="secondNumber"  placeholder="Second Number" class="form-control" #second>
    <br>
    <button type="submit" (click) = 'calculate(first.value, second.value)'>Calculate</button>
    <h4>{{sum}}</h4>

    <!-- <button type="submit" (click) = 'calculate(first.value, second.value)'>Calculate</button>
    <h4>{{sub}}</h4> -->
  <!-- </div> --> -->

 <button (click)="abc()">click</button>