div{
    align-content: center;
    text-align: center;
    margin-top: 12%;
    color: brown;
    font-size: 35px;
}
button{
    width:250px;
    height: 45px;
    color:brown;
    background-color:burlywood;
    opacity: 0.6;
    transition: 0.3s;
    border-block-start-width: 2px;
    font-size: 25px;
}
button:hover{
    opacity: 4;
}