<h2>Thumbnail Image</h2>
​
​
<!-- <a target="_blank" href="fog.jpg">
  <img src="fog.jpg" alt="hands" style="width:250px;height:150px"/>
</a> -->
<a target="_blank" href="home2.jpg">
   <img src="home2.jpg" alt="Friends" style="width:250px;height:150px">
</a>
<a target="_blank" href="service.jpg">
    <img src="service.jpg" alt="water" style="width:250px;height:150px">
 </a>
 <!-- <a target="_blank" href="contact1.jpg">
        <img src="contact1.jpg" alt="water" style="width:250px;height:150px">
     </a> -->
     <!-- <a target="_blank" href="fog.jpg">
            <img src="fog.jpg" alt="water" style="width:250px;height:150px">
         </a> -->
         