<p>apicomp works!</p>
<form [formGroup]="registerForm">
                          <p>UserName: </p>
                          <input type="text" id="name" formControlName="name" />
                          <p>Password:</p>
                          <input type="password" id="pass" formControlName="pass" />
                          <p>Conform Password:</p>
                          <input type="password" id="cpass" formControlName="cpass"><br><br>
                          <button (click)="register(registerForm.value)">Add User</button>
                          <p id="a">Already have an account?<u (click)="log()" id="b">login</u></p>
                      </form>
                      