.body4{
    background-image:url("../sideserve/service.jpg");
 background-position: center;
background-repeat: no-repeat;
 background-size: cover;
height:570px;

}
.h4{text-align: center;
  color:black;
 
}